alembic
anyio
arrow
binaryornot
certifi
chardet
charset-normalizer
click
colorama
cookiecutter
dnspython
email_validator
fastapi
fastapi-cli
greenlet
gunicorn
h11
httpcore
httptools
httpx
idna
Jinja2
jinja2-time
Mako
manage-fastapi
markdown-it-py
MarkupSafe
mdurl
packaging
poyo
prompt_toolkit
psycopg2-binary
pydantic
Pygments
PyMySQL
python-dateutil
python-dotenv
python-multipart
python-slugify
PyYAML
questionary
requests
rich
shellingham
six
sniffio
SQLAlchemy
starlette
text-unidecode
typer
types-python-dateutil
typing_extensions
urllib3
uvicorn
watchfiles
wcwidth
websockets
