alembic
fastapi
fastapi-cli
gunicorn
httpcore
httptools
httpx
Jinja2
jinja2-time
manage-fastapi
psycopg2-binary
pydantic
Pygments
python-dateutil
python-dotenv
python-multipart
python-slugify
requests
sniffio
SQLAlchemy
starlette
text-unidecode
uvicorn
websockets
