<div id="footer-outer" class="bg-light border-top py-3">
    <footer id="footer" class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4" style="text-align: center;">
                <p class="h5">Theo dõi blog</p>
                <ul class="px-0" style="list-style-type: none;">
                    <li><a class="text-secondary" href="/">Trang chủ</a></li>
                    <li><a class="text-secondary" target="_blank" href="https://www.facebook.com/"
                            rel="noopener">Fanpage
                            Facebook</a></li>

                </ul>
            </div>
            <div class="col-sm-6 col-md-4" style="text-align: center;">
                <p class="h5">Facebook bạn bè</p>
                <ul class="px-0" style="list-style-type: none;">
                    <li><a class="text-secondary" target="_blank" href="https://www.facebook.com/" rel="noopener">Nguyễn
                            Minh Quân</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4" style="text-align: center;">
                <p class="h5">Kết nối</p>
                <ul class="px-0" style="list-style-type: none;">
                    <li><a class="text-secondary" target="_blank" href="http://127.0.0.1:8000/author"
                            rel="noopener">Website
                            Tác giả</a></li>
                    <li><a class="text-secondary" target="_blank" href="https://www.instagram.com"
                            rel="noopener">Instagram của chúng tôi</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>